BASE_URL=https://studio-api.suno.ai
SESSION_ID=cookie(不用管)
SQL_NAME=数据库名称
SQL_PASSWORD=数据库密码
SQL_IP=数据库主机IP
SQL_DK=数据库主机IP的暴露端口（3306）
COOKIES_PREFIX=查询cookies的接口前缀，一定要以/开头
AUTH_KEY=cookies操作密钥
