BASE_URL=https://studio-api.suno.ai
SESSION_ID=cookie(不用管)
PROXY=代理（可选）
SQL_NAME=suno2openai
SQL_PASSWORD=EXsYNiCdY3HtjS2t
SQL_IP=45.207.200.112
SQL_DK=3306
COOKIES_PREFIX=wlhtea
AUTH_KEY=wlhtea
RETRIES=5
BATCH_SIZE=10
MAX_TIME=300

OpenManager=Ture/False 是否打开管理员账号密码
VALID_USERNAME=wlhtea  OpenManager为Ture时才配置管理员账号 否则删除即可
VALID_USERNAME=wlhtea  OpenManager为Ture时才配置管理员密码 否则删除即可