BASE_URL=https://studio-api.suno.ai
SESSION_ID=cookie(不用管)
PROXY=代理（可选）
SQL_NAME=数据库名称
SQL_PASSWORD=数据库密码
SQL_IP=数据库主机IP
SQL_DK=数据库主机IP的暴露端口（3306）
COOKIES_PREFIX=查询cookies的接口前缀，一定要以/开头
AUTH_KEY=cookies操作密钥
RETRIES=重试次数（默认5）
BATCH_SIZE=添加刷新cookies时的批处理数量（默认10）
MAX_TIME=最大等待时间（默认5min）
