anyio
certifi
cffi
charset-normalizer
curl_cffi
fake-useragent
idna
markdown-it-py
mdurl
pycparser
Pygments
python-dotenv
requests
rich
sniffio
starlette
fastapi
selenium
tiktoken
aiohttp
pydantic
aiomysql
pandas
uvicorn
apscheduler
tenacity==8.3.0