uvicorn~=0.30.1
apscheduler~=3.10.4
tenacity==8.3.0
requests~=2.32.3
pydantic~=2.7.4
curl_cffi~=0.6.4
python-dotenv~=1.0.1
aiohttp~=3.9.5
aiomysql~=0.2.0
fastapi~=0.111.0
tiktoken~=0.7.0
starlette~=0.37.2
fake_useragent~=1.5.1